<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Human v4.8.10, human.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/Content/ClientTemplate/assets/images/mbr-122x81.jpg" type="image/x-icon">
    <meta name="description" content="">
    <title>Home</title>
    <link href="~/Content/ClientTemplate/assets/icons/mobirise-icons.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/assets/tether/tether.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/assets/dropdown/css/style.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/assets/socicon/css/styles.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/assets/animatecss/animate.min.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/assets/theme/css/style.css" rel="stylesheet" />
    <link href="~/Content/ClientTemplate/assets/css/mbr-additional.css" rel="stylesheet" />



</head>
<body>
    <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">



        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">

                        <img src="~/Content/ClientTemplate/assets/images/mbr-122x81.jpg" alt="human" title="" style="height: 3.8rem;">

                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-4" href="index.html">
                            HUMAN ENZI
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-white display-1" href="@Url.Action("Index","Home")">

                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-1" href="@Url.Action("Index","Candidate")">

                            Candidates
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-1" href="@Url.Action("Index","Company")">

                            Company
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-1" href="@Url.Action("Index","News")">

                            News
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-1" href="@Url.Action("Index","Contact")">

                            Contact
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </section>

    

    <div id="bodyContent">
        @RenderBody()
    </div>
    <section class="cid-rdTVJvwJfO" id="footer2-q">





        <div class="container">
            <div class="media-container-row content mbr-white">
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <p class="mbr-text"></p><p>
                        <a href="page4.html"></a><strong>Address</strong>
                        <br>
                        <br>1234 Street Name
                        <br>City, AA 99999
                        <br>
                        <br>
                        <br><strong>Contacts</strong>
                        <br>
                        <br>Email: support@enzi.co.jp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>Phone: +1 (0) 000 0000 001
                        <br>Fax: +1 (0) 000 0000 002
                    </p><p></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <p class="mbr-text">
                        <strong>Links</strong><a href="page4.html">
                        </a><br><a href="page4.html">
                        </a><br>Website builder
                        <br>Download for Windows
                        <br>Download for Mac
                        <br><a href="page4.html">
                        </a><br><strong>Feedback</strong><a href="page4.html">
                        </a><br><a href="page4.html">
                        </a><br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6489.867093212904!2d139.572364!3d35.580032!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f6fcc89ff147%3A0xde578ac55fdfad7a!2z44CSMjE2LTAwMDQgS2FuYWdhd2Eta2VuLCBLYXdhc2FraS1zaGksIE1peWFtYWUta3UsIFNhZ2ludW1hLCAzIENob21l4oiSMi05IOm3uuayvOOCu-ODs-OCv-ODvOODk-ODqw!5e0!3m2!1svi!2sjp!4v1546674476221" allowfullscreen=""></iframe></div>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Copyright 2017 Enzi - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://twitter.com/human" target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.facebook.com/pages/human/1616226671953247" target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.youtube.com/c/human" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/human" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://plus.google.com/u/0/+human" target="_blank">
                                    <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.behance.net/human" target="_blank">
                                    <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/Scripts/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/Scripts/assets/popper/popper.min.js"></script>
    <script src="~/Scripts/assets/tether/tether.min.js"></script>
    <script src="~/Scripts/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/Scripts/assets/dropdown/js/script.min.js"></script>
    <script src="~/Scripts/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/Scripts/assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="~/Scripts/assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
    <script src="~/Scripts/assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
    <script src="~/Scripts/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/Scripts/assets/theme/js/script.js"></script>
    <script src="~/Scripts/assets/slidervideo/script.js"></script>


    <input name="animation" type="hidden">
</body>
</html>